@import url("https://use.typekit.net/uhr3slk.css");
.Profile {
  width: 17.125rem;
  height: 28rem;
  background: #ffffff;
  box-shadow: 0px 10px 50px 25px rgba(0, 59, 121, 0.0725798);
  border-radius: 1.25rem;
  margin-top: 2rem;
}
.image {
  width: 17.125rem;
  height: 20.25rem;
  background: #aed3e2;
  border-radius: 1.25rem 1.25rem 0px 0px;
}
.profileDetails {
  margin: 2rem;
}
.profileDetails h2 {
  font-family: source-sans-pro;
  font-weight: 700;
  line-height: 1.8rem;
  color: #002348;
  font-style: normal;
  font-size: 1.4rem;
}
.profileDetails p {
  /* font-style: normal; */
  color: #002348;
  font-size: 1.1rem;
  font-family: source-sans-pro;
  font-weight: 400;
  line-height: 1.3rem;
}
