@import url("https://use.typekit.net/uhr3slk.css");
.NotificationContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 76.85rem;
  width: 76.85rem;
  margin: 0 auto;
  background-color: #f8fdff;
  height: 100vh;
  position: relative;
  /* border: 2px solid black; */
  z-index: 1;
}
.NotificationContainer img {
  z-index: -1;
  position: absolute;
  height: 50rem;
  right: -8.9rem;
  top: 0;
  cursor: pointer;
}
.textNotify {
  text-align: center;
  width: 74.87rem;
  height: 29.875rem;
  background: #007ff4;
  border-radius: 1.25rem;
  cursor: pointer;
  border: 2px solid red;
}
.textNotify h1 {
  margin-top: 2.5rem;
  font-size: 3rem;
  font-family: source-sans-pro;
  font-weight: 600;
  line-height: 4.8rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 1rem;
  cursor: pointer;
}
.textNotify p {
  font-size: 1.25rem;
  font-family: source-sans-pro;
  font-weight: 400;
  line-height: 2.4rem;
  color: #ffffff;
  margin-bottom: 4rem;
  cursor: pointer;
}
.inputFiled {
  /* display: flex; */

  width: 55.87rem;
  height: 7.5rem;
  margin-left: 12rem;
  background: #ffffff;
  border-radius: 0.625rem;
  cursor: pointer;
}
input {
  width: 34.125rem;
  height: 2.437rem;
  margin-top: 3rem;
  border: none;
}
.inputFiled button {
  margin-left: 9rem;
  width: 11rem;
  height: 4.625rem;
  background: #007ff4;
  border-radius: 2.312rem;
  border: none;
  color: #fff;
  cursor: pointer;
}
